<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.application-identifier</key>
    <string>SQ3Q57QLM2.com.zipcombiner.zipcombine</string>
    <key>com.apple.developer.team-identifier</key>
    <string>SQ3Q57QLM2</string>
    <key>keychain-access-groups</key>
    <array>
        <string>SQ3Q57QLM2.*</string>
    </array>

	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
</dict>
</plist>
